<ion-item>
  <ion-skeleton-text slot="start" class="round-icon" animated></ion-skeleton-text>
  <ion-label>
    <h3>
        <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
    </h3>
    <h5>
        <small>
          <ion-skeleton-text animated style="width: 25%;"></ion-skeleton-text>
        </small>
    </h5>
    <p>
        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
    </p>
  </ion-label>
  <div slot="end">
    <ion-label>
      <p>
        <strong class="ion-text-right">
          <ion-skeleton-text animated style="width: 50px;"></ion-skeleton-text>
        </strong>
      </p>
    </ion-label>
  </div>
</ion-item>