<ion-toolbar mode="ios">
  <ion-buttons slot="start">
    <ion-menu-button mode="ios" autoHide="false"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<div class="ion-padding-horizontal dashboard-top-card">
  <ion-card color="light ion-no-margin">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle><strong>BILANCIO ANNUALE</strong></ion-card-subtitle>
      <ion-card-title>
        <ion-spinner *ngIf="yearlyBalance == ''" name="dots"></ion-spinner>
        <strong *ngIf="yearlyBalance != ''">{{ yearlyBalance }} &euro;</strong>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
<div>
  <ion-list lines="full" mode="ios">
    <ion-list-header>
        <ion-label class="ion-no-margin">Ultimi Movimenti</ion-label>
      <ion-icon
        (click)="openSetListDateFilter()"
        class="ion-float-right ion-padding-horizontal"
        color="dark"
        size="large"
        name="options-outline"
      ></ion-icon>
    </ion-list-header>
    </ion-list>
</div>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="full" mode="ios">
    <ion-item
      mode="ios"
      *ngFor="let moviment of moviments; let i = index"
    >
      <div slot="start" class="round-icon {{ moviment.category?.color }}-borders">
        <ion-icon
          color="{{ moviment.category?.color }}"
          name="{{ moviment.category?.icon }}"
        ></ion-icon>
      </div>
      <ion-label>
        <h4>{{ moviment.date | date:'dd/MM/yyyy HH:mm' }}</h4>
        <small class="ion-text-uppercase">{{ moviment.category?.description }}</small>
        <p>{{ moviment.note }}</p>
      </ion-label>
      <div slot="end">
        <ion-label>
          <p>
            <strong class="ion-text-right">
              {{ moviment.value | number:'1.2-2' }} &euro;
            </strong>
          </p>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newOperation()" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

