<div class="ion-padding-horizontal dashboard-top-card">
  <ion-card color="light" class="ion-no-margin">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle><strong>BILANCIO ANNUALE</strong></ion-card-subtitle>
      <ion-card-title>
        <ion-spinner *ngIf="yearlyBalance == ''" name="dots"></ion-spinner>
        <strong *ngIf="yearlyBalance != ''">{{ yearlyBalance }} &euro;</strong>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
<ion-content color="light">
  <ion-slides pager="true" [options]="chartSliderOpts" (ionSlideNextEnd)="slideNext()" (ionSlidePrevEnd)="slidePrev()">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title><strong>Uscite</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-chart">
          <canvas #outChart></canvas>
          <div class="total">{{ totalOut }} &euro;</div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title><strong>Entrate</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-chart">
          <canvas #inChart></canvas>
          <div class="total">{{ totalIn }} &euro;</div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-slides #listSlider pager="false" [options]="listSliderOpts">
    <ion-slide>
      <ion-card style="width:100%">
        <ion-card-content class="ion-no-margin ion-no-padding" >
          <ion-item lines="full" *ngFor="let category of categoriesTotalOut">
            <div
            slot="start"
            class="round-icon"
            [ngStyle]="{'background-color': category.color}"
          >
            <ion-icon
              name="{{ category.icon }}"
            ></ion-icon>
          </div>
          <ion-label>
              <strong><small>{{ category.description | uppercase }}</small></strong>
              <div class="perc-bar-content">
                <div [ngStyle]="{'background-color': category.color, 'width': category.perc + '%'}" class="perc-bar">
                  <div [ngStyle]="{'color': 'var(--ion-color-medium)'}" class="perc">{{ category.perc | number:'1.0-0'}} %</div>
                </div>
              </div>
              <div class="ion-text-end">
                <strong><small>{{ category.value | number:'1.2' }} &euro;</small></strong>
              </div>
          </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="width:100%">
        <ion-card-content class="ion-no-margin ion-no-padding" >
          <ion-item lines="full" *ngFor="let category of categoriesTotalIn">
            <div
            slot="start"
            class="round-icon"
            [ngStyle]="{'background-color': category.color}"
          >
            <ion-icon
              name="{{ category.icon }}"
            ></ion-icon>
          </div>
          <ion-label>
              <strong><small>{{ category.description | uppercase }}</small></strong>
              <div class="perc-bar-content">
                <div [ngStyle]="{'background-color': category.color, 'width': category.perc + '%'}" class="perc-bar">
                  <div [ngStyle]="{'color': 'var(--ion-color-medium)'}" class="perc">{{ category.perc | number:'1.0-0'}} %</div>
                </div>
              </div>
              <div class="ion-text-end">
                <strong><small>{{ category.value | number:'1.2' }} &euro;</small></strong>
              </div>
          </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
