ion-content ion-toolbar {
  --background: translucent;
}
ion-slides {
  height: 100%;
  
  ion-slide {

    .chart-container {
      width: 100%;
      height: 100%;
      overflow-x: auto;
      overflow-y:hidden;
      background-color: #FFFFFF;
    }
      .chart {
        width: 200%;
        height: 100%;
      }
  }
}

.perc-bar-content {
  position:relative;
  width:100%;
  height:5px;
  border-radius: 3px;
  background-color: var(--ion-color-light);

  .perc-bar {
    position:absolute;
    left:0px;
    height:5px;
    border-radius: 3px;
  }
  .perc {
    position: absolute;
    width:40px;
    height:20px;
    background-color:white;
    font-size:9px;
    font-weight:bold;
    line-height:20px;
    text-align:right;
    right:0px;
    top:-20px;
    color: var(--ion-color-medium)
  }
}