<div>
  <ion-list mode="ios">
    <ion-list-header>
      <ion-label class="ion-no-margin">Statistiche</ion-label>
    </ion-list-header>
  </ion-list>
  <fb-date-filter-toolbar (changed)="dateFilterChanged($event)"></fb-date-filter-toolbar>
</div>
<div style="margin: 5px; margin-top: -5px;">
  <ion-segment
    mode="ios"
    (ionChange)="segmentChanged($event)"
    value="out"
    color="medium"
  >
    <ion-segment-button value="out" layout="icon-start">
      <ion-icon color="danger" name="arrow-down"></ion-icon>
      <ion-label color="danger">
        Uscite <br />
        {{ totalOut | number:'1.2-2'}} &euro;
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="in" layout="icon-start">
      <ion-icon color="success" name="arrow-up"></ion-icon>
      <ion-label color="success">
        Entrate <br />
        {{ totalIn | number:'1.2-2'}} &euro;
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</div>
<ion-content #mainContent [scrollEvents]="true" color="light">
  <ion-slides #chartSlider pager="false" [options]="chartSliderOpts">
    <ion-slide>
      <div class="chart-container">
        <div class="chart">
          <canvas #statsOutChart></canvas>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="chart-container">
        <div class="chart">
          <canvas #statsInChart></canvas>
        </div> 
      </div>
    </ion-slide>
  </ion-slides>
  <div *ngIf="chartCategsDetail.length > 0">
    <h5 class="ion-text-center"><strong>{{ chartSelectedEl }}</strong></h5>
    <fb-categs-card-list (itemClicked)="showCatMoviments($event)" [categories]="chartCategsDetail"></fb-categs-card-list>
  </div>
</ion-content>
