<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-moviments">
      <ion-icon name="swap-vertical-outline"></ion-icon>
      <ion-label>Movimenti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Statistiche</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
