<ion-app>
  <ion-menu type="push" side="start" contentId="mainContent">
    <ion-header mode="ios">
      <ion-toolbar color="primary" mode="ios">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>
              Dashboard
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="add"></ion-icon>
            <ion-label>
              Registra movimento
            </ion-label>
          </ion-item>
          <ion-item routerLink="list-categories">
            <ion-icon slot="start" name="reorder-four-outline"></ion-icon>
            <ion-label>
              Categorie
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
            <ion-label>
              Statistiche
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainContent" main></ion-router-outlet>
</ion-app>
