<ion-header mode="ios">
  <ion-toolbar color="secondary" mode="ios">
    <div>
      <ion-title>REGISTRA MOVIMENTO</ion-title>
    </div>
    <ion-button mode="ios" fill="clear" slot="end" (click)="dismissModal()">
      <ion-icon color="dark" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">
      Tipo operazione <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-select disabled required>
      <ion-select-option [selected]="movimentType === 'P'" value="P">
        Entrata
      </ion-select-option>
      <ion-select-option [selected]="movimentType === 'M'" value="M">
        Uscita
      </ion-select-option>
      <ion-select-option [selected]="movimentType === 'I'" value="I">
        Investimento
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Categoria</ion-label>
    <ion-select>
      <ion-select-option 
        *ngFor="let movimentCat of movimentCategories; let i = index" 
        value="{{ movimentCat.getID() }}"
      >
        {{ movimentCat.getDescription() }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Importo <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="number"></ion-input>
    <div slot="end" class="ion-padding-top">
        <ion-icon color="medium" name="logo-euro"></ion-icon>
    </div>
  </ion-item>

  <div class="ion-padding">
    <ion-button color="tertiary" expand="block" type="submit" class="ion-no-margin">
      Registra
    </ion-button>
  </div>
</ion-content>
