.date-toolbar {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  padding: 14px;
  margin-top: 5px;
  border-top-left-radius:18px;
  border-top-right-radius:18px;
  
  .next,
  .prev {
    font-size: 18px;
    transform: translateY(3px);
    position:relative;
    z-index:999;
  }

  .current-date {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: translateY(-2px);
    max-width:70%;
    overflow:hidden;
    margin:auto;

    .ico {
      font-size: 18px;
      transform: translateY(3px);
    }
    .text-ico {
      font-size: 14px;
      font-weight:bold;
      color: var(--ion-color-primary);
      background-color:white;
      width: 18px;
      height: 16px;
      line-height: 18px;
      border-radius: 4px;
      display:inline-block;
      margin-right:2px;
    }
    .caret {
      font-size: 9px;
    }
  }
}
