/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.primary {
    color: var(--ion-color-primary) !important;
}
.primary-bg {
    background-color: var(--ion-color-primary) !important;
}
.primary-borders {
    border-color: var(--ion-color-primary) !important;
}
.secondary {
    color: var(--ion-color-secondary) !important;
}
.secondary-bg {
    background-color: var(--ion-color-secondary) !important;
}
.secondary-borders {
    border-color: var(--ion-color-secondary) !important;
}
.tertiary {
    color: var(--ion-color-tertiary) !important;
}
.tertiary-bg {
    background-color: var(--ion-color-tertiary) !important;
}
.tertiary-borders {
    border-color: var(--ion-color-tertiary) !important;
}
.dark {
    color: var(--ion-color-dark) !important;
}
.dark-bg {
    background-color: var(--ion-color-dark) !important;
}
.dark-borders {
    border-color: var(--ion-color-dark) !important;
}
.medium {
    color: var(--ion-color-medium) !important;
}
.medium-bg {
    background-color: var(--ion-color-medium) !important;
}
.medium-borders {
    border-color: var(--ion-color-medium) !important;
}
.light {
    color: var(--ion-color-light) !important;
}
.light-bg {
    background-color: var(--ion-color-light) !important;
}
.light-borders {
    border-color: var(--ion-color-light) !important;
}

ion-title {
    font-size:14px;
    text-transform: uppercase;
}
/*
small {
    font-size:9px;
    line-height: 11px;
}*/